:root {
  --item-color: #eee;
}

body {
  background-color: #191e24;
  margin: 0;
}

.popup-wrap {
  height: 350px;
  width: 320px;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px 0;
  height: 13%;
  flex-direction: row;
  align-items: center;
  background: #212530;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

input {
  font-family: 'Poppins';
}

img {
  height: 25px;
  width: 25px;
}

.popup-content {
  height: 87%;
  background-color: #191e24;
  margin-top: 10px;
  padding: 0 2px;
}

.gitmojis-list {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

.list-item {
  height: fit-content;
  color: white;
  display: flex;
  align-items: center;
  margin: 8px;
  min-height: 65px;
}

.item-emoji {
  font-size: 30px;
  text-align: center;
  width: 60px;
  cursor: pointer;
}

.item-emoji:hover{
  transform: translateY(-7%);
}

.item-text-wrap {
  font-family: 'Poppins';
}

.item-text-wrap .item-code {
  font-size: 15px;
  width: fit-content;
  cursor: pointer;
}

.item-code:after {
  content: '';
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.item-code:hover:after {
  width: 100%;
  left: 0;
  background: var(--item-color);
}

.item-text-wrap .item-description {
  color: #bababa;
  max-width: 230px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #bababa;
  border-radius: 5px;
}

footer p {
  margin: 0;
  text-align: center;
  color: #bababa;
  padding: 3px;
  font-size: 11px;
}

footer a {
  color: #bababa;
  text-decoration: none;
}
